// Place all the styles related to the move controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#moves {
  .tile {
    border: 1px solid black;
    min-width: 100px;
    min-height: 120px;
  }
}
