<!DOCTYPE html>
<html>
  <head>
    <title>TicTacToe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='row'>
      <div class='col-xs-4 col-lg-offset-4'>
        <h1 align='center'>TicTacToe</h1>
        <h3 align='center'>Select tile to get started!</h3>
        <hr />
      </div>
    </div>
    <%= yield %>
  </body>
</html>
